* {
    background-color: #181E34;
    color: #E7E5FF;
    font-family: 'Rubik', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.main-M {
    margin: 2vh 2vh 2vh 2vh;
}

#welcome h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    animation: fade 3.5s linear; 
    font-size: 3rem;
    margin-bottom: 1vh;
    text-align: center;
}

@keyframes fade {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
}

#welcome h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    animation: fade 3.5s linear; 
    font-size: 2.4rem;
    margin-bottom: 1vh;
    text-align: center;
}

#loading1 {
    animation: fadeIn 1s;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 2.4rem;
}

#loading2 {
    animation: fadeIn 2.25s;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 2.4rem;
}

#loading3 {
    animation: fadeIn 3.5s;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 2.4rem;
}

#selectors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3vh;
    animation: fadeIn 2s;
}


#selectors button{
    margin: 0 1vh 0 1vh;
    font-size: 1.1rem;
    border: 0.3vh solid #E9F7F9;
    background-color: #E7E5FF;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5vh;
}


#home h1 {
    animation: slideIn 2s;
    font-size: 2.7rem;
    font-weight: 400;
}

#underline {
    font-size: 2.8rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1vh;
}

@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 300%;
    }

    75% {
        margin-left: 25%;
        width: 150%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#mainpic {
    animation: fadeIn 4s;
    margin: 4vh auto 3vh auto;
    border-radius: 5%;
    display: block;
    width: 50%;
    text-align: right;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    25% { opacity: 0 }
    100% { opacity: 1 }
}

#socials {
    display: flex;
    justify-content: center;
}

#socials img {
    width: 5vh;
    animation: fadeIn 5.5s;
    margin: 0 1.5vh 0 1.5vh;
}

.toRight {
    animation: fadeIn 6s;
    position: fixed;
    text-align: right;
    bottom: 2vh;
    right: 2vh;
}

.toRight button {
    font-family:'Times New Roman', Times, serif;
    font-size: 3.5rem;
    padding: 0.75vh 0 0.75vh 0.75vh;
    border: none;
}

.toRight h2 {
    font-size: 1.4rem;
    margin-top: -2vh;
}

.toRight2 {
    position: fixed;
    text-align: right;
    bottom: 2vh;
    right: 2vh;
}

.toRight2 button {
    font-family:'Times New Roman', Times, serif;
    font-size: 3.5rem;
    padding: 0.75vh 0 0.75vh 0.75vh;
    border: none;
}

.toRight2 h2 {
    font-size: 1.4rem;
    margin-top: -2vh;
}

.toLeft {
    position: fixed;
    text-align: left;
    bottom: 2vh;
    left: 2vh;
}

.toLeft button {
    font-family:'Times New Roman', Times, serif;
    font-size: 3.5rem;
    padding: 0.75vh 0.75vh 0.75vh 0;
    border: none;
}

.toLeft h2 {
    font-size: 1.4rem;
    margin-top: -2vh;
}




#page2 h1 {
    font-size: 2.7rem;
    margin-bottom: 1vh;
}

